<?xml version="1.0" ?>

<launch>

  <node name="cartographer_node" pkg="cartographer_ros" type="cartographer_node" args="
          -configuration_directory
              $(find int300)/config1
	      -configuration_basename lidar.lua" output="screen">
	<!--remap from="odom" to="encoder_odom" /-->  
      </node>   

</launch>
